<div class="inner-container">

	<div class="team-container">
		<img src="images/jazz-logo.png">
		<div class="summary">
			<h3>Utah Jazz</h3>
			<h3>Wins: {{teamData.wins}} Losses: {{teamData.losses}}</h3>
		</div>
		<div class="together-game" ng-repeat="game in jazzData">


		</div>


	</div>
		


	<div class="team-container">
		<img src="images/lakers-logo.png">
		<div class="summary">
			<h3>Los Angeles Lakers</h3>
			<h3>Wins: {{X}} Losses: {{Y}}</h3>
		</div>
		<div class="together-game" ng-repeat="game in lakersData">


		</div>



	</div>


	<div class="team-container">
		<img src="images/heat-logo.png">
		<div class="summary">
			<h3>Miami Heat</h3>
			<h3>Wins: {{X}} Losses: {{Y}}</h3>
		</div>
		<div class="together-game" ng-repeat="game in heatData">


		</div>

	</div>




</div>

